footer{
    display: flex;
    border: 1px solid;
    z-index: 1000;
    background-color: black;
    position: sticky;
    height: 100px;
    color: #fff;
    bottom: 5px;
    justify-content: center;
    align-items: center;
}
footer .error{
    color: red;
    font-size: 20px;
    font-weight: bold;
}
.status-display{
  display: flex;
    flex-direction: column;
}
.status-display img{
    margin-left: 50%;
}
.scooter-availability{
    font-size: 18px;
    text-transform: capitalize;
}